*{
  padding: 0;
  margin: 0;
  font-family: 'Red Rose';
}

html,body{
  width: 100%;
  height: 100%;
}

.App{
  margin-top: 10px;
}
.display-icome-app-container{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;;
}

.flex-income-goals{
  display: flex;
  justify-content: space-around;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;

}

.flex-column-goals-bar{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 360px;
}

.flex-progress-tracker{
  display: flex;
  justify-content: space-between;
}